.calculator {
  background-color: var(--tertiaryColor);
}

.form {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
}

.formGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 58%;
  gap: 2%;
  padding: 20px 0;
}

.formLabel {
  display: flex;
  align-items: center;
}

.formInput {
  padding: 8px;
  font-size: 16px;
  text-align: center;
  border: none;
  outline: none;

  background-color: var(--bgColor);
  border-bottom: 2px solid var(--secondaryBgColor);
}

.resultado {
  margin: 0 auto;
  padding-bottom: 24px;
  width: 50%;
  font-weight: bold;
  line-height: 28px;

  text-align: center;
}

.resultadoIMC {
  padding: 4px;
  margin: 0 2px;
  border-radius: 6px;
  background-color: var(--tertiaryBgColor);
  box-shadow: 2px 2px 4px black;
}

.imcTable {
  margin-left: 8px;
  cursor: help;
}

.tabela {
  padding: 24px 0 48px;
  width: 50%;
  margin: 0 auto;
  font-size: 14px;
}

.title {
  font-weight: bold;
  margin-bottom: 8px;
}

.row {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 16px;
}

.row > *:nth-child(1) {
  justify-self: end;
}
